<div style="text-align:center">
  <h1>
    Squishy Tomatoes!
  </h1>
</div>
<router-outlet></router-outlet>

<!-- <div *ngIf="editError.length > 0" class="alert alert-danger" role="alert">
  <div *ngFor="let e of editError">
    <strong>{{ e }}</strong>
  </div>
</div>
<form class="form-group" (submit)="editProduct()" style="text-align:left">
  <div>
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="product.name"
    [(ngModel)]="product.name"
    required
    #name="ngModel"
    minlength="5">
  </div>
  <button type="submit" class="btn btn-info">Edit</button>
  <button [routerLink]="['/products']" type="button" class="btn btn-danger">Cancel Edit</button>
</form> -->

