<div *ngIf="newError.length > 0" class="alert alert-danger" role="alert">
  <div *ngFor="let e of newError">
    <strong>{{ e }}</strong>
  </div>
</div>

<div>
  <h4>Submit A Movie And Your Review:</h4>
  <form (submit)="addNewMovie()" name="newMovieForm" #newMovieForm="ngForm">
    <div class="form-group">
      <label for="title">Movie Title:</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="newMovie.title"
      required
      #title="ngModel"
      minlength="3">
    </div>
    <div *ngIf="title.invalid" class="alert alert-danger" role="alert">
      <div *ngIf="title.errors.required">
        <strong>Movie Title Required</strong>
      </div>
      <div *ngIf="title.errors.minlength">
        <strong>Movie Title Must Be At Least 3 Characters</strong>
      </div>
    </div>
    <div class="form-group">
      <label for="reviewer">Your Name:</label>
      <input type="text" class="form-control" name="reviewer" [(ngModel)]="newMovie.reviewer"
      required
      #reviewer="ngModel"
      minlength="3">
    </div>
    <div *ngIf="reviewer.invalid" class="alert alert-danger" role="alert">
      <div *ngIf="reviewer.errors.required">
        <strong>Your Name Is Required</strong>
      </div>
      <div *ngIf="reviewer.errors.minlength">
        <strong>Your Name Must Be At Least 3 Characters</strong>
      </div>
    </div>
    <div class="form-group">
      <label for="stars">Stars:</label>
      <select class="form-control" id="stars" name="stars" [(ngModel)]="newMovie.stars">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="review">Your Review:</label>
      <textarea type="text" class="form-control" name="review" [(ngModel)]="newMovie.review"
        required
        #review="ngModel"
        minlength="3">
      </textarea>
      <div *ngIf="review.invalid" class="alert alert-danger" role="alert">
        <div *ngIf="review.errors.required">
          <strong>A Review Is Required</strong>
        </div>
        <div *ngIf="review.errors.minlength">
          <strong>Your Review Must Be At Least 3 Characters</strong>
        </div>
      </div>
    </div>
    <!-- <button [disabled]="formRef.invalid" type="submit" class="btn btn-success">Add Movie</button> -->
    <button [disabled]="!newMovieForm.valid" type="submit" class="btn btn-success">Add Movie</button>
    <button [routerLink]="['/movies']" rows="20" class="btn btn-danger">Cancel</button>
  </form>
</div>
